.layoutContainer {
  header {
    padding: 10px;
    background-color: gainsboro;
    h3 {
      background-color: gold;
      width: fit-content;
      padding: 10px;
      border-radius: 10px;
    }
  }
  .outlet {
    padding: 15px;
  }
}
