.layoutContainer {
  header {
    padding: 10px;
    background-color: gainsboro;
    display: flex;
    gap: 10px;
    h3 {
      background-color: gold;
      width: fit-content;
      padding: 10px;
      border-radius: 10px;
    }
    .link {
      width: fit-content;
      text-decoration: none;
      color: black;
    }
  }
  .outlet {
    padding: 30px;
  }
}
